<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL SHORTENER</title>
  </head>
  <body>
    <div class="center">
      <h1>URL shortener using NodeJS and EJS</h1>
      <form action="links/short" method="POST" id="shortForm">
      <input type="text" name="link" id="link" placeholder="Paste url link here" required="true"/>
      <button type="submit">Get short link</button>
    </form>
    <ul id="links"></ul>
    <hr/>
    <p>Last added links:</p>
    <ul>
      <% for (var i =0; i<links.length; i++){ %>
      <li><a href=<%= links[i].source %> target="_blank"><%= links[i].short %></a></li>
     <% } %>
    </ul>
    </div>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/styles.css">
  </body>
</html>
