<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="links/short" method="POST" id="shortForm">
      <input type="text" name="link" id="link" />
      <button type="submit">Short link</button>
    </form>
    <ul id="links"></ul>
    <hr/>
    <ul>
      <% for (var i =0; i<links.length; i++){ %>
      <li><%= links[i].short %></li>
     <% } %>
    </ul>
    <script src="/js/script.js"></script>
  </body>
</html>
