body {
    background-color: black;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(25, 26, 25);
    padding: 10px;
    background-color: grey;
  }

  #shortForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid rgb(15, 15, 15);
    margin: 10px;
  }
